<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="header">Welcome to GuestBOOK!!!</h1>
    <p>Remember!!! </p>
    <p>Everyone can invite maximum of 1 person</p>
    <p>Choose Carefully</p>
    <div class="buttons"> 
    <a href="/write" id="write">Write Your Guest</a>
    <hr>
    <a href="/read">Show Other Guests</a>
</div>
</body>
</html>